<!DOCTYPE html>
<html>
<head>
    <title>Socket.IO Chat</title>
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js"></script>
</head>
<body>
    <h1>Socket.IO Chat</h1>
    <ul id="messages"></ul>
    <form id="form">
        <input id="input" autocomplete="off" /><button>Send</button>
    </form>

    <script>
        var socket = io();

        document.getElementById('form').addEventListener('submit', function(e) {
            e.preventDefault();
            var input = document.getElementById('input');
            if (input.value) {
                socket.emit('message', {msg: input.value});
                input.value = '';
            }
        });

        socket.on('message', function(data) {
            var item = document.createElement('li');
            item.textContent = data.msg;
            document.getElementById('messages').appendChild(item);
        });

        socket.on('connect', function() {
            console.log('Connected to server');
        });

        socket.on('disconnect', function() {
            console.log('Disconnected from server');
        });
    </script>
</body>
</html>
